@model ChampsRoom.ViewModels.TeamsIndexViewModel

<div class="row text-center">
    <h1>Teams</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 text-center">
        @foreach (var item in Model.Teams)
        {
            <a href="@Url.Action("Details", "Team", new { slug = item.Slug })" class="btn btn-team">
                @foreach (var user in item.Users)
                {
                    <img src="@user.GetImageUrl()" alt="" class="img-rounded img-profile img-profile-md" />
                }
                <br />
                @item.Name
            </a>
        }
    </div>
</div>

<div class="row text-center">
    <h1>Players</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-xs-12 col-md-12 text-center">
        @foreach (var item in Model.Users)
        {
            <a href="@Url.Action("Details", "User", new { slug = item.Slug })" class="btn btn-team">
                <img src="@item.GetImageUrl()" alt="" class="img-rounded img-profile img-profile-md" />
                <br />
                @item.UserName
            </a>
        }
    </div>
</div>