@using ChampsRoom.Models;
@using Microsoft.AspNet.Identity;

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle img-profile img-profile-large" src="@User.Identity.GetImageUrl()" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">@User.Identity.GetUserName()</h4>
                <p>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                </p>

                @if (ViewBag.Leagues != null)
                {
                    <hr style="margin:8px auto">
                    foreach (var item in ViewBag.Leagues)
                    {
                        <span class="label label-default">@item.Name</span>
                    }
                }
            </div>
        </div>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        @if (ViewBag.HasLocalPassword)
        {
           @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>