<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Champ's Room</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width">
    @Styles.Render("~/content/css")
</head>
<body>
    <div class="navbar navbar-default navbar-champsroom navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (ViewContext.RouteData.Values["controller"].ToString().ToLowerInvariant() != "home")
                {
                    <a class="navbar-brand pull-left hidden-xs" href="/"><img src="~/content/images/champroom.png" alt="Champ's Room" /></a>
                    <a class="navbar-brand pull-left visible-xs" href="/">Champ's Room</a>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "League")"><i class="fa fa-list"></i> Leagues</a></li>
                    <li><a href="@Url.Action("Index", "Team")"><i class="fa fa-group"></i> Teams & players</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Manage", "Account")"><i class="fa fa-user"></i> You</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-lock"></i> Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/scripts/js")
    @RenderSection("scripts", required: false)
</body>
</html>
